<div>
    <input type="time" id="timeInput" name="timeInput" [(ngModel)]="timeInput"
    placeholder="HH:MM:SS" min="00:02:00" [disabled] = "timerOn" max="23:59:59" required step=1/>
    <div *ngIf="timeInput.errors?.min">
        2 minutes minimum duration.
      </div>
    <button (click)="onClickStart()" [disabled] = "timerOn">Start</button>
    <button (click)="onClickStop()" [disabled] = "!timerOn">Stop</button>

    <h1>Time Remaining:{{ timeRemaining }}</h1>
    <div id="output">
      <ul>
          <li *ngFor="let notification of notifications">{{ notification }}</li>
      </ul>
    </div>
</div>
